mixin advantagesItem({imgSrc, imgAlt, title, text}) 
    li.advantages-item
        img(src!=imgSrc, alt!=imgAlt)
        h4.h4= title
        .subtitle= text


mixin swiperSlide({title, text, pagesSrc, imgSrc, imgAlt})
    .swiper-slide
        .swiper-slide-text-content
            h3.h3= title
            p.subtitle= text
            a(href!=pagesSrc).btn Детальніше
        .swiper-slide-img-wrapp
            img(src!=imgSrc, alt!=imgAlt)

mixin textContentinBorder({text})
    .container
        .block-text-content-in-border
            .text-content-in-border
                p= text