extend ./html/modules/base/default-page
block vars
    - var title = 'Контакти';
    - var h1 = 'Контакти';
include ./html/utils/mixin.pug
        block main
            section.section.section-contact-form
                .container
                    .block-text-content-in-border
                        .text-content-in-border
                            h3.h3 Отримайте швидку допомогу!<br> Заповніть форму зараз
                            form(method="POST" onsubmit="submitForm(event)" id="contact-form")
                                .input-group
                                    input(type="text" class="i-name" id="name" name="name" required placeholder="Ім'я")
                                    input(type="tel" class="i-phone" id="phone" name="phone" required placeholder="Телефон")
                                .input-group
                                    select(id="type" name="type" required)
                                        option(value="washing-machine" selected) Пральна машина
                                        option(value="dryer") Сушильна машина
                                        option(value="dishwashers") Посудомийна машина
                                    input(type="text" class="i-phone" id="brand" name="brand" required placeholder="Марка")
                                .input-group.input-group-textarea
                                    textarea(id="problem" name="problem" placeholder="Проблема" required)
                                button(type="submit" id="send-button") Отправить

            script.
                const allFieldsNames = ["name", "phone", "type", "brand", "problem"];
                const form = document.getElementById('contact-form');

                form.addEventListener('focus', (event) => {
                    if(allFieldsNames.includes(event.target.name)) {
                        
                    }
                }, true);

                function validateForm(data) {
                    return Object.entries(data).reduce((acc, [field, value]) => {
                        if (value.length < 2) {
                          return [...acc, { field, error: 'Поле должно содержать не менее 2 символов'}];
                        }
                        return acc
                    }, [])
                }

                function submitForm(event) {
                    event.preventDefault();

                    const fields = allFieldsNames.reduce((acc, field) => {
                        return {...acc, [field]: document.getElementById(field).value}
                    }, {})

                    const errors = validateForm(fields)

                    if(errors?.length) {
                        errors.forEach(({error, field}) => {
                            // находим поле по field === id инпута + абоба 1
                            const fieldEl = document.getElementById(field);
                            // стилизуем и красим его + выводим ошибку под ним + абоба 2
                            // ....
                            console.log({field, error})
                        })
                        return;
                    }



                    console.log(fields);
                    sendMessageTg(fields)
                }

                function sendMessageTg(fields) {

                    const message = `
                                     <b>Имя: </b> ${fields.name}\n 
                                     <b>Номер телефона: </b> <a href="tel:${fields.phone}">${fields.phone}</a>\n
                                     <b>Тип: </b> ${fields.type}\n
                                     <b>Бренд: </b> ${fields.brand}\n
                                     <b>Проблема: </b> ${fields.problem}
                                    `


                    // надо создать енв файлик и закинуть это туда (абоба 3)
                    const TOKEN = "5983802864:AAExgkBMJmvq7cbGUPLMr-MU86njTObuuzE";
                    const CHAT_ID = "-1001740432577";

                    const options = {
                        method: 'POST',
                        headers: {
                            accept: 'application/json',
                            'User-Agent': 'Telegram Bot SDK - (https://github.com/irazasyed/telegram-bot-sdk)',
                            'content-type': 'application/json'
                        },
                        body: JSON.stringify({
                            text: message,
                            parse_mode: 'HTML',
                            disable_web_page_preview: false,
                            disable_notification: false,
                            reply_to_message_id: null,
                            chat_id: CHAT_ID
                        })
                    };

                    fetch(`https://api.telegram.org/bot${TOKEN}/sendMessage`, options)
                        .then(response => response.json())
                        .then(response => console.log(response))
                        .catch(console.error);
                }
        script(src='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js')
        script(src='./js/main.js' type="module")